.resume-page {

    .text-zone {
        position: absolute;
        float: left;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        vertical-align: middle;
        display: table-cell;
        max-height: 100%;
        padding-bottom: 20px;
      }

      h1 {
        text-align: left;
        font-size: 35px;
        font-family: 'Isabella Sans';
        color: #000000;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 35px;
        left: -10spx;
        z-index:1000;
      }
}


@media screen and (max-width: 768px) {
  
  .pdf-zone {
    display: none;
  }

}