.page {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .top-tags {
    bottom: auto;
    top: 35px;
  }
  
  .tags {
    color: #c30202;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 240px;
    font-size: 18px;
    font-family: 'Isabella Sans', cursive;
  }
  
  .bottom-tag-html {
    margin-left: -20px;
  }
  
  .container {
    width: 100%;
    will-change: contents;
    height: 80%;
    min-height: 500px;
    position: absolute;
    opacity: 1;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
  }

  .text-zone {
    position: absolute;
    float: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    vertical-align: middle;
    display: table-cell;
    max-height: 50%;
  }  

.hamburger-icon {
  display: none;
  position: fixed;  // Added
  right: 15px;         // Added
  top: 15px;           // Added
  cursor: pointer;     // Added
  font-size: 24px;     // Added
  color: #181818;         // Added
} 
  
.footer {
  color: #767575;
  position: fixed;
  font-size: 17px;
  bottom: 0;
  right: 5px;
  font-style: italic;
}

// @media screen and (max-width: 1200px) {


@media screen and (max-width: 768px) {

  .container.about-page, .container.publications-page, .container.resume-page {

    .text-zone {

      height: auto;
      position: absolute;
      float: center;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      vertical-align: middle;
      display: table-cell;

      img {
        width: 50%;
        margin: 0 0 0 10px;
        display: inline;
      }

      p {
        display: inline;
      }

      h1 {
        font-size: 40px;
        margin-bottom: 20px;
        z-index: 1001;

        &:before,
        &:after {
          font-size: 14px;
        }
      }

      ul {
        li {
          font-size: 13px;
        }
      }
    }
  }

  body.mobile-menu-open {
    position: fixed;
    width: 100%;
    overflow: hidden;
  }

}