.home-page {

    .text-zone {
      position: absolute;
      text-align: center;
    }


    h1 {
        color: #000000;
        font-size: 40px;
        line-height: 5rem;
        font-family: 'Isabella Sans black';
        letter-spacing: 18px;
        font-weight: 420;
        margin-top: 6%;
        // animation: fadeIn 1s 0.8s backwards
    
        // &:before {
        //   content: '<h1>';
        //   font-family: 'Isabella Sans';
        //   color: #000000;
        //   font-size: 18px;
        //   position: absolute;
        //   margin-top: -40px;
        //   left: -15px;
        //   opacity: 0.6;
        // }
    
      
    }

    @keyframes fadeIn {
        from{opacity: 0;}
        to {opacity: 1;}
    }

    h2 {
        color: #767575;
        font-weight: 400;
        font-size: 26px;
        margin-top: 8%;
        margin-bottom: 8%;
        line-height: 5rem;
        font-family: 'Isabella Sans semibold';
        letter-spacing: 10px;
        animation: fadeIn 1s 0.8s backwards;
      }

    h3 {
      color: #767575;
      font-weight: 400;
      font-size: 17px;
      line-height: 2rem;
      font-family: 'Isabella Sans';
      // margin-top: 30px;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.2s backwards;
    }    
      
    h4 {
      color: #767575;
      font-weight: 400;
      font-size: 17px;
      line-height: 2rem;
      font-family: 'Isabella Sans';
      // margin-left: -20px;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.2s backwards;
    }
    
    ul {
      list-style: none;
      padding: 0px 30px;
      animation: fadeIn 1s 1.7s backwards;
  
      li {

        margin: 0px 10px;
        display: inline;
        
        a {
          padding: 0px 0;
          font-size: 20px;
          line-height: 30px;
          color: #cfc8c8;
        }
  
        &:hover {
          .anchor-icon {
            color: #cfc8c8;
          }
        }
      }
    }    

}
  