/* Custom Navbar Styles */

.custom-navbar {
  height: 70px;
  display: flex;

  .nav-content {

    position: absolute;
    left: 32%;

    .nav-link {
    
      font-family: 'Isabella Sans light';
      font-size: 19px;
      color: #9e9c9c;
      transition: color 0.3s ease;
      margin: 0 3rem;
    
    }
    

    .nav-link:hover {
      color: #434343;
    }

}

  img {
    align-self: flex-start;
    width: 130px;
    margin-top: 120px;
  }

}


/* Mobile styles */
@media (max-width: 991px) {
  .custom-navbar .navbar-collapse {
    margin-top: 0.5rem;
  }

  .custom-navbar .navbar-nav {
    align-items: flex-start;
  }

  .custom-navbar .nav-link {
    padding: 0.5rem 0;
  }
}