/* Custom Navbar Styles */

.custom-navbar {
  height: 70px;
  display: flex;
  align-items: center; // This will vertically center the content
  

  .nav-content {

    position: absolute;
    left: 32%;

    .nav-link {
    
      font-family: 'Isabella Sans light';
      font-size: 19px;
      color: #9e9c9c;
      transition: color 0.3s ease;
      margin: 0 3rem;
    
    }
    

    .nav-link:hover {
      color: #434343;
    }

}

  img {
    align-self: flex-start;
    width: 130px;
    margin-top: 120px;
  }

}


/* Mobile styles */
@media (max-width: 990px) {
  .custom-navbar {
    padding: 0 15px; // Add some horizontal padding

    .navbar-brand {
      margin-top: 0; // Reset the margin

      img {
        width: 100px; // Slightly smaller logo for mobile
        margin-top: 0; // Reset the margin
      }
    }

    .navbar-toggler {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      margin: 0;
      padding: 0.25rem;
      z-index: 1001; // Ensure it's above other elements
    }

    .navbar-toggler-icon {
      filter: invert(100%);
    }

    .nav-content {
      border: 2px solid red;
      position: static; // Reset the absolute positioning
      left: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; // Center items horizontally
    }

    .navbar-collapse {
      position: absolute;
      top: 70px; // Height of the navbar
      left: 0;
      right: 0;
      // background-color: #434343; // Match the navbar background color
      z-index: 1000;
    }

    .nav-link {
      margin: 0.5rem 0;
      padding: 1rem 15px;
    }
  }
}