/* Custom Navbar Styles */

.custom-navbar {
  height: 70px;
  display: flex;
  align-items: center; // This will vertically center the content

  .nav-content {

    position: absolute;
    left: 32%;

    .nav-link {
    
      font-family: 'Isabella Sans light';
      font-size: 19px;
      color: #9e9c9c;
      transition: color 0.3s ease;
      margin: 0 3rem;
    
    }
    

    .nav-link:hover {
      color: #434343;
    }

}

  img {
    align-self: flex-start;
    width: 130px;
    margin-top: 120px;
  }

}


/* Mobile styles */
@media (max-width: 800px) {
  .custom-navbar {
    padding: 0 15px; // Add some horizontal padding

    .navbar-brand {
      margin-top: 0; // Reset the margin

      img {
        width: 100px; // Slightly smaller logo for mobile
        margin-top: 0; // Reset the margin
      }
    }

    .navbar-toggler {
      margin-top: 0; // Ensure the hamburger icon is vertically centered
    }

    .nav-content {
      position: static; // Reset the absolute positioning
      left: auto;
      width: 100%;
    }

    .navbar-collapse {
      position: absolute;
      top: 70px; // Height of the navbar
      left: 0;
      right: 0;
      background-color: #343a40; // Match the navbar background color
      z-index: 1000;
    }

    .nav-link {
      margin: 0.5rem 0;
      padding: 0.5rem 15px;
    }
  }
}